.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(135deg,   #004e8f, #0f172a);
    
 
}

.card {
  background: white;
  padding: 30px;
  border-radius: 12px;
  width: 340px;

  display: flex;
  flex-direction: column;
  gap: 12px;

  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  
}

.card h2 {
  text-align: center;
  font-weight: 500;
  background: linear-gradient(135deg, #4facfe, #004e8f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;


  
}

.card input,
.card select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.card button {
  padding: 10px;
  border: none;
  border-radius: 8px;
  outline: none;

  background: linear-gradient(135deg, #4facfe,#004e8f);
  color: white;
  font-weight: bold;

  cursor: pointer;
}

.switch {
  text-align: center;
  font-size: 14px;
}